/* Importa estilos globais do modelo anterior */
@import url('vidrarias.css');

/* Ajuste de título igual à página de Vidrarias */
.main-content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

:root{
  --primary-color: #243E63; 
  --hoverCian-color: #005C6D; 
  --low-hoverCian: #005d6d5b; 
  --hoverLight-color: #00C1CF;
  --primary-red: #970000;
  --secondary-red: #c70000;
  --hoverRed-color: #5d0500ef; 
  --light-gray: #636e72; 
  --dark-gray: #333333; 
  --text-white: #ffffff;
  --dark: #000000;
  --secondaryLight-gray: #7c7c7c;
}

.page-title {
  font-size: 4rem;
  color: var(--hoverCian-color);
  margin-bottom: 10px;
  font-weight: 700;
}

.title-underline {
  width: 320px;
  height: 4px;
  border-radius: 5px;
  background-color: #c41e15;
  margin: 0 auto 40px;
}

/* Caixa dos kits */
.kits-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fdfdfd;
  width: 350px;
  min-height: 250px;
}

.box h3 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 500;
  color: #004b49;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

textarea {
  width: 100%;
  height: 180px;
  border: none;
  resize: none;
  font-size: 2rem;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 5px;
}

/* Botões iguais aos da página de vidrarias */
.action-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.action-btn {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  background-color: var(--primary-color);
  color: white;
  box-shadow: -6px 5px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 180px;
}

.action-btn:hover {
  background-color: var(--hoverCian-color);
  transform: translateY(-3px);
}

#cps-rodape__redes-icones a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#cps-rodape__redes-icones a i {
    color: #2ddae0d7;
    font-size: 3.5rem ;
    line-height: 1;
}

#cps-rodape__redes-icones a:hover i{
    color: #ffffff;
    scale: 1.2;
    transition: 0.7s;
}

#cps-rodape__redes h6 {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}